{
    "source": {
        "directories": [
            "../src"
        ]
    },
    "timeout": 30,
    "phpUnit": {
        "configDir": "."
    },
    "logs": {
        "text": "infection.txt"
    },
    "mutators": {
        "@default": true,
        "global-ignoreSourceCodeByRegex": [
            "\\$this->logger.*",
            "parent::build\\(\\$container\\);"
        ]
    }
}
